@use 'variables' as a;

.header {
  padding: 5rem 8rem;
  background: url(../images/bg-hero-desktop.svg) a.$color-h_bg no-repeat right top;
  background-size: cover;
  height: 100vh;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__content {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-right: 15rem;
    gap: 3rem;
  }
}
.about {
  padding: 14rem 8rem;
  display: grid;
  gap: 4rem;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
    border-radius: 1rem;
    padding: 5rem 4rem 5rem 12rem;
    box-shadow: 0rem .3rem 1rem hsl(0, 0%, 62%);
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__img {
    
  }
}

.start {
  z-index: 1;
  width: 50%;
  margin: auto;
  background: a.$color-bg;
  padding: 5rem 0;
  box-shadow: 0rem .3rem 1rem hsl(0, 0%, 62%);
  border-radius: 3rem;
  text-align: center;
  position: relative;
  margin-bottom: -10rem;
}