// font //
$ff-main: 'Open Sans', sans-serif;
$ff-sub: 'Poppins', sans-serif;

// font size//
$fs-800: 3.8rem;
$fs-700: 3.2rem;
$fs-600: 2.7rem;
$fs-500: 1.9rem;
$fs-400: 1.7rem;
$fs-300: 1.35rem;

// font weight//
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

// color //
$color-btn: hsl(322, 100%, 66%);
$color-main: hsl(192, 100%, 9%);
$color-sub: hsl(208, 11%, 55%);
$color-h_bg: hsl(193, 100%, 96%);
$color-bg: hsl(0, 0%, 100%);
$color-white: hsl(0, 0%, 100%);


// margin //

















