// font //
$ff-main: 'Open Sans', sans-serif;
$ff-sub: 'Poppins', sans-serif;

// font size//
$fs-800: 4.3rem;
$fs-700: 3.4rem;
$fs-600: 2.5rem;
$fs-500: 2rem;
$fs-400: 1.8rem;
$fs-300: 1.6rem;

// font weight//
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

// color //
$color-btn: hsl(322, 100%, 66%);
$color-main: hsl(192, 100%, 9%);
$color-sub: hsl(208, 11%, 55%);
$color-h_bg: hsl(193, 100%, 96%);
$color-bg: hsl(0, 0%, 100%);


// margin //
$m-20: 2rem;
$m-30: 3rem;
$m-50: 5rem;
$m-80: 8rem;


//Font size: 18px













